<h1>Remove Navigation Type</h1>

<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following navigation type?</p>

<table class="index" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1">
      <td class="navigationtype">
           <%= @navigation_type.name %>
      </td>
    </tr>
  </tbody>
</table>

<% form_for [:admin, @navigation_type], :html => { :method => 'delete' } do %>
  <p class="buttons">
    <input class="button" type="submit" value="Delete Navigation Type"/>
    or
    <%= link_to 'Cancel', admin_navigation_type_url %>
  </p>
<%- end -%>