<h1>Navigation Type</h1>
<% if @navigationTypes.blank? %>
  <p>No books in Database </p> 
<% else %>
<u1>
    <table  class="index" >
       <% @navigationTypes.each do |navType| %>
         <tr  class="node level-0">
           <td class="page"><%= link_to  navType.name, { :action => 'edit', :id => navType.id } %></td>
           <td class="page"><%= link_to  'delete', { :action => 'remove', :id => navType.id } %></td>
         </tr>
      <%end%>
    </table>
</u1>
<%- end %>

<%= link_to 'Add new navigation type', { :action => 'new' } %>